{% extends "layout.html" %}

{% block content %}
  <form action="/play-game" method="POST">
    <div>
      <label for="player1">Player 1</label>
      <input type="text" name="player1_name" id="player1_name">
    </div>
    <div>
      <label for="player1_choose">Rock, Paper, Scissors</label>
      <select name="player1_choose" id="player1_choose">
        <option value="Rock">Rock </option>>
        <option value="Paper">Paper </option>
        <option value="Scissors">Scissors</option>
      </select>  
    </div>
    <div>
      <label for="player2">Player 2</label>
      <input type="text" name="player1_name" id="player1_name">
      </div>

    <div>
      <label for="player1_choose">Rock, Paper, Scissors</label>
      <select name="player1_choose" id="player1_choose">
        <option value="Rock">Rock </option>>
        <option value="Paper">Paper </option>
        <option value="Scissors">Scissors</option>
      </select>  
    </div>
    <div>
      <input type="submit" id="submit" value="Play">
    </div>
  </form>


{% endblock %}